<h3>Adicionar</h3>
<form #recievedUser="ngForm">

  <label for="name">Nome:</label>
  <input type="text" class="form-control" id="name" placeholder="Nome" [(ngModel)]="user.name" name="name">

  <label for="type">Função:</label>
  <input type="text" class="form-control" id="type" placeholder="Função" [(ngModel)]="user.type" name="name">

  <label for="password">Senha:</label>
  <input type="password" class="form-control" id="password" placeholder="Senha" [(ngModel)]="user.password" name="password">

   <br>
  <button type="button" class="btn btn-success" (click)="addUser()">Salvar</button>
</form>