<h3>{{book.id == null ? 'Adicionar' : 'Edit'}} livro: {{book.id}}</h3>

<form>
  <label for="name">Nome</label>
  <input type="text" class="form-control" id="name" placeholder="Nome" [(ngModel)]="book.name" name="name">

  <label for="author">Autor</label>
  <input type="text" class="form-control" id="description" placeholder="descrição" name="description" [(ngModel)]="book.description">

  <label for="author">Preço</label>
  <input type="text" class="form-control" id="price" placeholder="preço" name="price" [(ngModel)]="book.price">

  <div class="form-group" *ngIf="book.id == null">
    <br>
    <input type="file" (change)="onFileChanged($event)">
    <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">
  </div>
  
  <br>
  <button type="button" class="btn btn-success" (click)="saveBook()">Salvar</button>
</form>
